/* You can add global styles to this file, and also import other style files */


fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    min-width: 0;
    padding: 15px !important;       
    position: relative;
    border-radius:4px;
    background-color:#ffffff;
}	
	
legend {
	font-size:14px !important;
	font-weight:bold !important;
	margin-bottom: 0px; 
	width: auto !important; 
	border: 1px solid #ddd;
	border-radius: 4px; 
	padding: 5px 10px 5px 10px !important; 
	background-color: #ffffff;
    position: relative;
    bottom: 30px;
}